
.chart-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Ejes */
.axis {
    stroke: #7a797f;
    stroke-width: 2;
}

/* Líneas */
.line {
    stroke: #ed6c47;
    stroke-width: 2;
}



/* Etiquetas de los meses */
.label {
    font-size: 12px;
    text-anchor: middle;
    fill: #333;
}

/* Estilo para el SVG dentro del gráfico */
.chart {
    width: 100%;
    height: 300px; /* Establece una altura fija o ajustable según necesidad */
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* Puntos de los datos */
.data-point {
    fill: #ed6c47;
    cursor: pointer;
}

/* Hover sobre los puntos */
.data-point:hover {
}

.value {
    transition: transform 0.3s ease;
    transform-origin: center;
    cursor: pointer;
}

.value:hover {
    font-size: 120%;
}

.ropa {
    stroke: #ed6c47;
    fill: #ed6c47;
}

.alimentos {
    stroke: #107c42;
    fill: #107c42;
}

.transporte {
    stroke: #27a8e7;
    fill: #27a8e7;
}

.salidas {
    stroke: #d71848;
    fill: #d71848;
}

.viajes {
    stroke: #ffae0f;
    fill: #ffae0f;
}