:root {
    /*FONDOS DE DASHPRO*/
    --fondo-general-medio-gris: #f6f8fa;
    --fondo-general-medio-gris2: #f6f8fa;
    --fondo-blanco: #fcfdfd;
    --tono-azul-1: #010c65;
    --tono-azul-2: #025eaf;
    --tono-dashpro: #0560fd;
    --gris-texto: #7a797f;

    /*CONSEJO*/
    --fondo-tarjeta: #3E92D3; /* Color azul base para el fondo */
    --color-principal: #0560FD; /* Color para el ícono */
    --color-btn: #4CAF50; /* Color del botón */
    --color-texto: #232527; /* Color del texto */
    --color-gris-claro: #f1f1f1; /* Gris claro para el fondo sutil */
}

.contenedor-general {
    border: none;
    border-radius: 15px !important;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
    padding-bottom: 20px;
}

.separador-vertical {
    border: none;
    border-left: 1px solid #cecfd0;
    height: 80%;
}

.administrador-pagina-central {
    border: none;
    border-radius: 15px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
    background: var(--fondo-blanco);
    transition: background 0.5s ease; /* Para suavizar el cambio */
    padding: 20px;
    gap: 20px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card-principal {
    border-radius: 20px;
    height: 100%;
    width: 400px !important;
    padding: 20px;
    margin: 20px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.icon-card-grande {
    font-size: 200%;
    margin: 10px;
}

.card-principal:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.subtitulo-card-grande {
    font-size: 110%;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.container-cabecera {
    height: 120px;
    min-height: 120px;
    border: none;
    border-radius: 15px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
    background: var(--fondo-blanco);
    transition: background 0.5s ease; /* Para suavizar el cambio */
    padding: 20px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    margin-top: 10px;
}

.container-central {
    border: none;
    border-radius: 15px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
    background: var(--fondo-blanco);
    transition: background 0.5s ease; /* Para suavizar el cambio */
    padding: 20px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
}

.subtitulo-seccion {
    font-size: 130%;
    font-weight: 500;
}

.tabla-gastos {
}

.normal-ancho {
    width: 150px;
    text-align: center;
}

.descripcion-ancho {
    width: 400px;
    text-align: center;
}

.input-dashpro-tabla {
    border: none;
    background: none;
    color: var(--gris-texto);
}
    .input-dashpro-tabla:focus{
        border: none;
        outline: none;
        border-bottom: 1px solid var(--tono-dashpro);
        
    }

    /*GASTOS DETALLADOS*/
.card-cabecera {
    border-radius: 20px;
    height: 100%;
    width: 160px !important;
    margin: 20px;
    justify-items: center;
    justify-content: center;
}

.icon-card-cabecera {
    margin-right: 20px;
    color: #ed6c47;
}

.card-cabecera:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.monto-container {
    margin-left: 40px;
    font-size: 120%;
    font-weight: 600;
}

.moneda {
    margin-right: 10px;
}

.monto {
    color: #232527 !important;
}

/*GRAFICO DE BARRAS*/
.container-barras {
    width: 65%;
}

.subtitulo-barras {
    font-size: 130%;
    font-weight: 600;
    margin: 30px;
    margin-bottom: 10px;
}

.monto-barras {
    font-size: 120%;
    font-weight: 600;
    margin: 30px;
    margin: 0;

}


.barra-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.barra {
    position: relative;
    width: 60px;
    background-color: #e5eaef;
    transition: background-color 0.3s ease;
    margin-bottom: 30px; /* Añadimos espacio debajo de las barras */
    border-radius: 15px;
}

.barra-label {
    position: absolute;
    bottom: -30px; /* Aumentamos la distancia para evitar que se corte el texto */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    white-space: nowrap; /* Aseguramos que el texto no se corte */
}

.barra:hover {
    /*background-color: var(--tono-dashpro);*/
    cursor: pointer;
}

.ropa:hover {
    background-color: #ed6c47;
}

.alimentos:hover {
    background-color: #107c42;
}

.transporte:hover {
    background-color: #27a8e7;
}

.salidas:hover {
    background-color: #d71848;
}

.viajes:hover {
    background-color: #ffae0f;
}

.barra:hover::after {
    content: attr(data-monto);
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    width: 80px;
    text-align: center;
}

/* CARD CONSEJO*/
.container-consejo {
    width: 35%;
    padding: 0 !important;
    
}

.derecha {
    margin-left: 20px;
}

.izquierda {
    margin-right: 20px;
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-alerta {
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
}

.titulo-alerta {
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fcfdfd;
}

.consejo-alerta {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: white;
}

.action-button {
    margin-top: 20px;
}

.btn-registrar {
    background-color: #fcfdfd;
    color: var(--gris-texto);
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-registrar:hover {
        transform: scale(1.05, 1.05);
    }

.card-alerta {
    background-image: url('../Imagenes/fondoconsejo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 100;
    position: relative;
    color: var(--color-texto);
    box-sizing: border-box; /* Asegura que padding y border no sumen al tamaño total */
}

    .card-alerta::before {
        content: '';
        position: absolute;
        top: -30px;
        left: -30px;
        background-color: rgba(62, 146, 211, 0.4);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        z-index: -1;
    }

    .card-alerta::after {
        content: '';
        position: absolute;
        bottom: -30px;
        right: -30px;
        background-color: rgba(5, 96, 253, 0.4);
        width: 80px;
        height: 80px; /* Cambio: Anteriormente era height: 100%, ahora tiene un tamaño fijo */
        border-radius: 50%;
        z-index: -1;
    }


    /*BOTONES FINALES*/
.boton {
    background: var(--fondo-blanco);
    width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

/*FINANZAS*/
.container-cabecera-finanzas {
    height: 80px;
    border: none;
    border-radius: 15px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
    background: var(--fondo-blanco);
    transition: background 0.5s ease; /* Para suavizar el cambio */
    padding: 20px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    margin-top: 10px;
}

.boton-agregar:hover {
    transform: scale(1.05, 1.05);
}

.delete-ancho {
    width: 30px;
}

.remove-icon {
    margin-left: 20px;
}

.remove-icon:hover {
    cursor: pointer;
    color: darkred;
}

.boton-procesar {
    background: var(--tono-dashpro);
    color: white !important;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.boton-procesar:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.dropdown-categoria:hover {
    cursor: pointer;
}

#opcion1, #opcion2 {
    opacity: 1; /* Comienza visible */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

    #opcion1.d-none,
    #opcion2.d-none {
        opacity: 0; /* Hacemos que se vuelva transparente */
        visibility: hidden; /* Lo ocultamos de manera efectiva */
    }

    .indicador-aumento {
        width: 50px;
        text-align: center;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(24, 186, 5);
        background-color: rgb(24, 186, 5, 0.2);
    }

    .indicador-dismunicion {
        width: 50px;
        text-align: center;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0, 0.2);
    }