html, body {
    height: 100%;
    width: 100%;
    background: var(--fondo-general-negro);
}

:root {
    --magenta: #C20073;
    --texto-normal-streamfy: #454547;
    --seleccionado-streamfy: #f1f0f6;
    --texto-opciones-streamfy: #7a797f;
    --opcion-hover-streamfy: #f9f9fb;
    --barra-lateral-oscuro: #121212;
    --barra-lateral-seleccionado-oscuro: #272727;
    --barra-lateral-hover-oscuro: #1f1f1f;
    --barra-lateral-seleccionado-hover-oscuro: #484848;
    --barra-lateral-texto-color-claro: #d8d8da;
    --texto-gris-clarito: #aaa; /* Color del placeholder */
    --barra-lateral-dashpro: #ededed;
    /*FONDOS DE DASHPRO*/
    --fondo-general-medio-gris: #f6f8fa;
    --fondo-general-medio-gris2: #f6f8fa;
    --fondo-blanco: #fbfdfe;
    --tono-azul-1: #010c65;
    --tono-azul-2: #025eaf;
    --tono-dashpro: #0179c3;
    --gris-texto: #7a797f;
}

body {
    font-family: Montserrat;
    color: var(--gris-texto);
}

.container-general {
    height: 100% !important;
}

.contenedor-general-negro {
    background: var(--fondo-general-medio-gris);
    padding-bottom: 20px;
    padding-top: 0 !important;
}

.texto-color-morado {
    color: var(--morado-streamfy) !important;
}


.logo-principal-sreamfy {
    width: 410px !important;
    margin-right: 10px;
}

.logo-principal-sreamfy-texto {
    height: 80px;
}

.barralateral {
    margin: 10px;
    width: 300px !important;
    border-radius: 15px;
    background: var(--fondo-general-medio-gris) !important;
    margin-top: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
}

    .barralateral .logo {
        height: 50px !important;
        padding-left: 30px !important;
        padding-top: 30px !important;
        padding-bottom: 40px !important;
    }

    .barralateral a {
        text-decoration: none !important;
    }


    .barralateral .sidebarPillCustomized {
        height: 50px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        color: #7a797f;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        border-radius: 15px;
    }

        .barralateral .sidebarPillCustomized:hover {
            cursor: pointer !important;
            border-right: 5px solid var(--tono-dashpro) !important;
            border-left: 5px solid var(--tono-dashpro) !important;
            background: rgb(222,230,237, 0.3);
            transform: scale(1.05, 1.05);
        }

        .barralateral .sidebarPillCustomized i {
            padding-left: 20px !important;
            padding-right: 15px !important;
        }

.seleccionado {
    background-color: var(--tono-dashpro) !important;
    border-right: 5px solid var(--tono-dashpro) !important;
    text-decoration: none !important;
    color: white !important;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.14);
}

    .seleccionado:hover {
        background-color: var(--tono-dashpro) !important;
        border-right: 5px solid var(--tono-dashpro) !important;
        
    }

.contenedor-derecha-grande {
    margin-top: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.contenedor-derecha-grande-administrador {
    background: var(--fondo-general-negro) !important;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0;
}

.barra-superior-estatica {
    height: 80px !important;
    align-items: center;
    align-content: center;
    
}

.infoUsuario {
    padding-left: 30px !important;
}

.fotoUsuario {
}

.nombreUsuario {
    color: #7a797f !important;
    align-items: end;
    justify-content: center;
    align-content: end;
    padding-right: 40px;
}

    .nombreUsuario a {
        text-decoration: none !important;
        color: inherit; /* Hereda el color de su contenedor */
    }


.contenidoCentralVariable {
    width: 75%;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    scrollbar-width: none;
}

.subseccion {
    color: #7a797f;
    height: 50px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 30px !important;
}

.tituloDerecha {
    padding-top: 20px;
    padding-left: 25px;
    color: var(--texto-normal-streamfy) !important;
}

.contenedorListaSemanal {
    padding-top: 7px;
    height: 40%;
}

.dividerDerecha {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: var(--texto-opciones-streamfy);
}

.contenedorReproductorMusica {
    padding-left: 25px;
}

.cardCancionSemanal {
    padding-left: 25px;
    height: 60px;
    align-items: center;
    margin-bottom: 5px;
}

.contenedorCancionSemanal:hover {
    cursor: pointer;
    background: var(--opcion-hover-streamfy);
}

.posicionSemanal {
    width: 30px;
    color: var(--texto-opciones-streamfy) !important;
}

.containerImagenSemanal {
    width: 50px;
    height: 50px;
    background: red;
}

.infoCancionSemanal {
    margin-left: 10px;
    width: 130px;
}

.nombreCancionSemanal {
    font-size: 85%;
    color: var(--texto-normal-streamfy) !important;
}

.artistaCancionSemanal {
    font-size: 75%;
    color: var(--texto-opciones-streamfy) !important;
}

.duracionCancionSemanal {
    align-items: start;
    color: var(--texto-opciones-streamfy) !important;
}


.tituloCentral {
    color: var(--morado-streamfy) !important;
    font-size: 130%;
}

.botonPerfil {
    color: var(--texto-gris-clarito); /* Aplica tu variable de color */
    text-decoration: none;
}

.image-profile-pic-mini {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50% !important;
    overflow: hidden;
    margin-right: 20px;
    object-fit: cover;
}

.dropdown-master-user {
    border: none;
    background: rgb(0,0,0,0);
    color: var(--texto-gris-clarito);
    margin: 0;
    padding: 0;
}



.dropdown-menu-streamfy {
    margin-bottom: 0;
    background: #2e2e2e;
    -webkit-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    margin-top: 10px;
}

.nombre-usuario-dropdown {
    color: #7a797f;
}

.dropdown-master-user:hover .nombre-usuario-dropdown {
    color: var(--barra-lateral-texto-color-claro);
}

.dropdown-item-perfil-user {
    background: rgb(0,0,0,0) !important;
    text-decoration: none;
    color: var(--texto-gris-clarito) !important;
}

    .dropdown-item-perfil-user:hover {
        color: var(--barra-lateral-texto-color-claro) !important;
    }

/*FORMS ESTILOS STREAMFY*/
.buscar {
    color: var(--texto-gris-clarito) !important;
}

    .buscar::placeholder {
        color: var(--texto-gris-clarito) !important;
    }

.input-text-normal {
    border: none;
    outline: none;
    background: none;
    margin-left: 10px;
    color: var(--texto-gris-clarito);
}